.dark fieldset {
   border: 1px solid $grey-2;
}

fieldset {
  border: 1px solid $grey-4;
}

input,
textarea {
  border: 2px solid $grey-4;
  border-radius: $border-radius;
}

.nav-links {
  border-top-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.portrait {
  border-radius: $pic-border-radius;
}

.nav-links a:hover, .nav-links a:active {
  border-top-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.tag {
   border: dotted 1px $grey-2;
   border-top-left-radius: $border-radius;
   border-bottom-right-radius: $border-radius;
}
