fieldset {
  border: 2px solid $border-color;
}

input,
textarea {
  border: 2px solid $border-color;
  border-radius: $border-radius;
}

input[type=submit] {
  border: 3px solid $grey-3;
}

.portrait {
  border-radius: $pic-border-radius;
}

.tag {
   border: dotted 1px $border-color;
   border-top-left-radius: $border-radius;
   border-bottom-right-radius: $border-radius;
}
