html {
  background: $bg-color;
  background: radial-gradient(circle, rgba($bg-color,1) 0%, rgba(221,212,215,1) 35%, rgba(154,126,136,1) 100%);
  color: $grey-4;
}

html.dark {
  background: $grey-6;
  background: radial-gradient(circle, rgba($grey-6,1) 0%, rgba(43,34,37,1) 35%, rgba(14,11,12,1) 100%);
  color: $grey-3;
}

input,
textarea {
  color: $grey-1;
  background: none;
}

.dark ul a {
  color: $grey-3;
}

ul a {
  color: $grey-5;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: $grey-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-5;
}

.dark .fa-facebook,
.dark .fa-instagram,
.dark .fa-github,
.dark .fa-pinterest,
.dark .fa-tiktok,
.dark .fa-tumblr,
.dark .fa-mastodon {
  color: $grey-2;
}

.dark .fa-facebook:hover, .dark .fa-facebook:active,
.dark .fa-instagram:hover, .dark .fa-instagram:active,
.dark .fa-github:hover, .dark .fa-github:active,
.dark .fa-pinterest:hover, .dark .fa-pinterest:active,
.dark .fa-tiktok:hover, .dark .fa-tiktok:active,
.dark .fa-tumblr:hover, .dark .fa-tumblr:active,
.dark .fa-mastodon:hover, .dark .fa-mastodon:active {
  color: lighten($grey-2, 20%);
}

.fa-facebook,
.fa-instagram,
.fa-github,
.fa-pinterest,
.fa-tiktok,
.fa-tumblr,
.fa-mastodon {
  color: $grey-2;
}

.fa-facebook:hover, .fa-facebook:active,
.fa-instagram:hover, .fa-instagram:active,
.fa-github:hover, .fa-github:active,
.fa-pinterest:hover, .fa-pinterest:active,
.fa-tiktok:hover, .fa-tiktok:active,
.fa-tumblr:hover, .fa-tumblr:active,
.fa-mastodon:hover, .fa-mastodon:active {
  color: lighten($grey-2, 20%);
}

.dark .fa-rss {
  color: $grey-3;
}

.fa-rss {
  color: $grey-4;
}

.dark .nav-links a {
  color: $grey-3;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  background-color: $grey-5;
}

.nav-links {
  background: none;
}

.nav-links a {
  color: $grey-4;
}

.nav-links a:hover, .nav-links a:active {
  color: $grey-5;
  background-color: $grey-2;
}

.tag {
  background-color: $grey-1;
}

.tag:hover,
.tag:active,
.tag:focus {
  background-color: lighten($grey-1, 20%);
}

.tag a {
    color: $grey-4;
  }
