fieldset {
  background: #292328;
  background: radial-gradient(at left top, #292328, darken(#292328, 20%));
}

html {
  background: $grey-6;
  background: radial-gradient(circle, rgba($grey-6,1) 0%, rgba(43,34,37,1) 35%, rgba(14,11,12,1) 100%);
  color: $grey-3;
}

input,
textarea {
  color: $grey-1;
  background: none;
}

input[type=submit] {
  background-color: $grey-6;
}

input[type=submit]:hover {
  background-color: #06b621;
  color: lighten($grey-1, 20%);
}

ul a {
  color: $grey-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-2;
}


.fa-facebook,
.fa-instagram,
.fa-github,
.fa-pinterest,
.fa-tiktok,
.fa-tumblr,
.fa-mastodon {
  color: $grey-2;
}

.fa-facebook:hover,
.fa-facebook:active,
.fa-instagram:hover,
.fa-instagram:active,
.fa-github:hover,
.fa-github:active,
.fa-pinterest:hover,
.fa-pinterest:active,
.fa-tiktok:hover,
.fa-tiktok:active,
.fa-tumblr:hover,
.fa-tumblr:active,
.fa-mastodon:hover,
.fa-mastodon:active {
  color: lighten($grey-2, 20%);
}

.fa-rss {
  color: $grey-3;
}

.tag {
  background-color: $grey-1;
}

.tag:hover,
.tag:active,
.tag:focus {
  background-color: lighten($grey-1, 20%);
}

.tag a {
    color: $grey-4;
  }
