@font-face {
  font-family: 'Lato-Black';
  src: url('/fonts/lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('/fonts/lato/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('/fonts/lato/Lato-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url('/fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url('/fonts/lato/Lato-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-HeavyItalic';
  src: url('/fonts/lato/Lato-HeavyItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('/fonts/lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('/fonts/lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url('/fonts/lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('fonts/lato/Lato-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-MediumItalic';
  src: url('/fonts/lato/Lato-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('/fonts/lato/Lato-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-SemiboldItalic';
  src: url('/fonts/lato/Lato-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('/fonts/lato/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url('/fonts/lato/Lato-ThinItalic.ttf') format('truetype');
}

html,
body {
  font-family: $font-medium;
}

h1 {
  font-family: $font-heavy;
  font-size: 3.5rem;
}

h2 {
  font-family: $font-thin;
  font-size: 3rem;
}

h3,
h4,
h5,
h6 {
  font-family: $font-bold;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {font-size: 1.45rem;}

b,
strong {
  font-family: $font-semibold;
}

i,
em {
  font-family: $font-italic;
}

input,
textarea {
  font-family: $font-lightItalic;
  font-size: 1rem;
}

footer div a {
  text-decoration: none;
  font-size: 1.7rem;
}

ul a {
  font-family: $font-black;
  text-decoration: none;
}

.copyright {
  font-size: 0.8rem;
}

.tag {
  font-size: 1rem;
}


.tag a {
  font-size: 0.8rem;
}
