html {
  background-color: #d4cacd;
  color: #60535e;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

ul a {
  color: #443b43;
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #443b43;
  font-size: 3.5rem;
}

.skill {
  color: #60535e;
  font-weight: bold;
  text-transform: capitalize;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #292328;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #c4bbc3;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: none;
  margin: 0;
}

.nav-links a {
  color: #60535e;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.nav-links a:hover, .nav-links a:focus {
  background-color: #c4bbc3;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
   display: none;
 }
}


/*
 * Dark Mode
 */
html.dark {
  background-color: #292328;
  color: #ac9fab;
}

.dark .nav-links a {
  color: #ac9fab;
}

.dark .nav-links a:hover, .dark .nav-links a:focus {
  background-color: #443b43;
}

.dark h1 {
  color: #c4bbc3;
}

.dark .skill {
  color: #ac9fab;
}

.dark .hamburger .line {
  background-color: #dcd6db;
}

.dark ul a {
  color: #ac9fab;
}
