html {
  /* background-color: #f4f1f2; */
  background: rgb(244,241,242);
  background: radial-gradient(circle, rgba(244,241,242,1) 0%, rgba(221,212,215,1) 35%, rgba(154,126,136,1) 100%);
  color: #60535e;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

header {
  display: flex;
  gap: 1rem;
}

header .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

ul li {
  margin:2rem;
}

ul a {
  color: #443b43;
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #443b43;
  font-size: 3.5rem;
}

.skill {
  color: #60535e;
  font-weight: bold;
  text-transform: capitalize;
}

/*
 * Header Stuff
 */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #292328;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: transparent;
  display: none;
  margin: 0;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav-links a {
  color: #60535e;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.fa-rss {
  color: #60535e;
}

.nav-links a:hover, .nav-links a:active {
  color: #443b43;
  background-color: #c4bbc3;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition-duration: 0.7s;
}

.expanded {
  display: unset;
}

/*
 * Footer Stuff
 */

 footer {
   display: flex;
   width: 100%;
   gap: 1rem;
   margin-top: 4rem;
 }

 footer div {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 footer div a {
   padding: 0.3rem 0.5rem;
   text-decoration: none;
 }

 .fa-facebook,
 .fa-instagram,
 .fa-github,
 .fa-pinterest,
 .fa-tiktok,
 .fa-tumblr,
 .fa-mastodon {
   color: #c4bbc3;
   font-weight: bold;
 }

 .fa-facebook:hover, .fa-facebook:active,
 .fa-instagram:hover, .fa-instagram:active,
 .fa-github:hover, .fa-github:active,
 .fa-pinterest:hover, .fa-pinterest:active,
 .fa-tiktok:hover, .fa-tiktok:active,
 .fa-tumblr:hover, .fa-tumblr:active,
 .fa-mastodon:hover, .fa-mastodon:active {
   color: #fff;
   font-weight: bolder;
   transition-duration: 0.7s;
 }

 .copyright {
   font-size: 0.8rem;
 }

/*
 * Blog Stuff
 */

.img-fluid {
  max-width: 100%;
  margin: 0;
}

.img-fluid[width] {
  width: auto; /* Defer to max-width */
}
.img-fluid[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/*
 * Width Resolutions above 636px
 */

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
   display: none;
 }
}


/*
 * Dark Mode
 */
html.dark {
  /* background-color: #292328; */
  background: rgb(71,56,61);
  background: radial-gradient(circle, rgba(71,56,61,1) 0%, rgba(43,34,37,1) 35%, rgba(14,11,12,1) 100%);

  color: #ac9fab;
}

.dark .nav-links a {
  color: #ac9fab;
}

.dark .fa-rss {
  color: #ac9fab;
}

.dark .nav-links a:hover, .dark .nav-links a:focus {
  background-color: #443b43;
  transition-duration: 0.7s;
}

.dark h1 {
  color: #c4bbc3;
}

.dark .skill {
  color: #ac9fab;
}

.dark .hamburger .line {
  background-color: #dcd6db;
}

.dark ul a {
  color: #ac9fab;
}
