---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "404: Resource not found";
---
<BaseLayout pageTitle={pageTitle}>
  <p>The following resource does not exist at this address. Please update your bookmark accordingly.</p>
</BaseLayout>
