---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "CloudHuxleyVerse";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome! My name is Cloud</h2>
  <div class="main_container">
    <div class="half_container">
      <p>and I am a web designer and developer based in beautiful Port Angeles, Washington. I have decades of experience creating websites for a wide range of clients, including small businesses, nonprofits, blogs, and wikis. I have a passion for creating websites that not only look great, but are user friendly.</p>
      <p>I understand that not everyone is a tech expert, which is why I pride myself on my ability to work with clients of all levels of technical proficiency. I am dedicated to helping my clients not only create a beautiful and functional website, but also understand the process of building it. Thank you for considering me for your next web development project. I look forward to working with you to create a website that will help you achieve your goals!</p>
    </div>
    <div class="half_container">
    </div>
  </div>

</BaseLayout>
