---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Thank You";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Thank you for your submission. I will get back to you shortly.</p>
</BaseLayout>
