---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  a {
    padding: 0.5rem 1rem;
    color: #dcd6db;
    background-color: #60535e;
    text-decoration: none;
  }

.dark a {
    color: #292328;
    background-color: #958493;
}

</style>

<footer>
  <div>
    <Social platform="facebook" username="agirlnamedblaze" />
    <Social platform="instagram" username="agirlnamedblaze" />
    <Social platform="github" username="hvxley" />
    <Social platform="pinterest" username="agirlnamedblaze" />
    <Social platform="tiktok" username="@agirlnamedblaze" />
    <Social platform="tumblr" username="agirlnamedblaze" />
    <a href="https://www.kolektiva.social/@Cloud" target="_blank" rel="me">mastodon</a>
  </div>
</footer>
