---

---
<style>
  footer {
    display: flex-container;
    gap: 1rem;
    margin-top: 4rem;
  }

  footer div {
    display: flex;
    min-width: 19rem;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  a {
    padding: 0.5rem 0.75rem;
    background-color: #443b43;
    text-decoration: none;
    border-radius: 1rem;
  }


  .fa-facebook,
  .fa-instagram,
  .fa-github,
  .fa-pinterest,
  .fa-tiktok,
  .fa-tumblr,
  .fa-mastodon {
    color: #c4bbc3;
    font-weight: bold;
  }

  .copyright {
    font-size: 0.7rem;
  }

</style>

<footer>
  <div>
    <a href="https://www.facebook.com/agirlnamedblaze" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/agirlnamedblaze" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.github.com/hvxley" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.pinterest.com/agirlnamedblaze" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
    <a href="https://www.tiktok.com/@agirlnamedblaze" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.tumblr.com/agirlnamedblaze" target="_blank"><i class="fa-brands fa-tumblr"></i></a>
    <a href="https://www.kolektiva.social/@Cloud" target="_blank" rel="me"><i class="fa-brands fa-mastodon"></i></a>
  </div>
  <div>
    <span class="copyright">&copy; 2023 Cloud Huxley. Made with 💚.</span>
  </div>
</footer>
