---

---
<footer>
  <div>
    <a href="https://www.facebook.com/agirlnamedblaze" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/cloudhuxley" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.github.com/hvxley" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.pinterest.com/agirlnamedblaze" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
    <a href="https://www.tiktok.com/@agirlnamedblaze" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.tumblr.com/agirlnamedblaze" target="_blank"><i class="fa-brands fa-tumblr"></i></a>
    <a rel="me" href="https://kolektiva.social/@Cloud"><i class="fa-brands fa-mastodon"></i></a>
  </div>
  <div>
    <span class="copyright">&copy; 2023 Cloud Huxley. Made with 💚.</span>
  </div>
</footer>
