---
import Logo from './Logo.astro';
---
<header>
  <div class="logo">
    <Logo />
    <input type="checkbox" id="overlay-input">
    <label for="overlay-input" id="overlay-button"><span></span></label>
    <div id="overlay">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="https://huxley.cloud/rss.xml"><i class="fa-solid fa-rss"></i></a></li>
      </ul>
    </div>
  </div>
</header>
