<input type="checkbox" id="overlay-input">
<label for="overlay-input" id="overlay-button"><span></span></label>
<div id="overlay">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/recipes/">Recipes</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><a href="/rss.xml"><i class="fa-solid fa-rss"></i></a></li>
    </ul>
  </nav>
</div>
