---
---
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="https://huxley.cloud/rss.xml"><i class="fa-solid fa-rss" style="color: #c4bbc3; font-weight: bold;"></i></a>
</div>
